k8sServiceHost: {{ setupinfos.lb_vip }}
k8sServicePort: 6443

kubeProxyReplacement: true

l2announcements:
  enabled: false

externalIPs:
  enabled: false

k8sClientRateLimit:
  qps: 50
  burst: 200

operator:
  replicas: 2
  rollOutPods: true
  nodeSelector:
    type: worker

rollOutCiliumPods: true

ingressController:
  enabled: false
