- name: init k3s master
  shell: "curl -sfL https://get.k3s.io | K3S_TOKEN={{ vault.k3s_cluster_init_secret }} sh -s - server"
  args:
    executable: /bin/bash
  when: 
    - op_mode == "init"
    - hostinfos[ansible_mutated_host].cluster_init == "yes"

- name: join k3s master
  shell: "curl -sfL https://get.k3s.io | K3S_TOKEN={{ vault.k3s_cluster_init_secret }} sh -s - server --server=https://{{ setupinfos.k3s.master.registration_host }}:6443"
  args:
    executable: /bin/bash
  when:
    - op_mode == "join-master"
    - hostinfos[ansible_mutated_host].cluster_init == "no"

- name: join agent to cluster
  shell: "curl -sfL https://get.k3s.io | K3S_TOKEN={{ vault.k3s_cluster_init_secret }} sh -s - agent --server=https://{{ setupinfos.k3s.master.registration_host }}:6443"
  args:
    executable: /bin/bash
  when:
    - op_mode == "join-agent"
    - hostinfos[ansible_mutated_host].active == "yes"
