mirrors:
  harbor.hyrsh.io:
    endpoint:
      - https://harbor.hyrsh.io/v2
configs:
  harbor.hyrsh.io:
    tls:
      ca_file: /usr/local/share/ca-certificates/private-ca-bundle.crt
      insecure_skip_verify: false
