[Interface]
PrivateKey = "{{ vault.wireguard_keys_private[ansible_mutated_host] }}"
Address = "{{ hostinfos[ansible_mutated_host].wireguard_ip }}"
ListenPort = "{{ hostinfos[ansible_mutated_host].wireguard_listening_port }}"
DNS = "{{ setupinfos.wireguard.local_dns }}"

[Peer]
PublicKey = "{{ vault.wireguard_keys_public.csp_vps }}"
Endpoint = "{{ vault.csp.vps_ip | b64decode }}"
AllowedIPs = "{{ hostinfos[ansible_mutated_host].wireguard_allowedips_peer }}"
