apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  annotations:
    volume.beta.kubernetes.io/storage-provisioner: cephfs.csi.ceph.com
    volume.kubernetes.io/storage-provisioner: cephfs.csi.ceph.com
  name: jellyfin-cache
  namespace: jellyfin
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 25Gi
  storageClassName: csi-cephfs-sc
