apiVersion: v1
data:
  password: {{ unit_info_s_pw }}
  username: {{ unit_info_s_usr }}
kind: Secret
metadata:
  name: {{ unit }}-superuser
  namespace: {{ unit_info_ns }}
type: kubernetes.io/basic-auth
