- name: create tmp dir for values and resources
  file:
    path: /tmp/haproxy-ingress-k8s
    state: directory
  when:
    - op_mode == "install" or op_mode == "update"
    - ansible_host == setupinfos.k3s.master.registration_host

- name: copy private server cert to destination
  copy:
    content: "{{ vault.certs.sspki_srv_crt | b64decode }}"
    dest: "/tmp/haproxy-ingress-k8s/tls.crt"
  when:
    - op_mode == "install" or op_mode == "update"
    - ansible_host == setupinfos.k3s.master.registration_host

- name: copy private server key to destination
  copy:
    content: "{{ vault.certs.sspki_srv_key | b64decode }}"
    dest: "/tmp/haproxy-ingress-k8s/tls.key"
  when:
    - op_mode == "install" or op_mode == "update"
    - ansible_host == setupinfos.k3s.master.registration_host

- name: create ingress-haproxy namespace
  shell: if [ "$(kubectl get ns ingress-haproxy --ignore-not-found | wc -l)" == "0" ]; then kubectl create ns ingress-haproxy; fi
  args:
    executable: /bin/bash
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml
  when:
    - op_mode == "install" 
    - ansible_host == setupinfos.k3s.master.registration_host

- name: create secret with certificates
  shell: "kubectl -n ingress-haproxy delete secret {{ setupinfos.k3s.ingress_cert }} --ignore-not-found && kubectl -n ingress-haproxy create secret tls {{ setupinfos.k3s.ingress_cert }} --cert=/tmp/haproxy-ingress-k8s/tls.crt --key=/tmp/haproxy-ingress-k8s/tls.key"
  args:
    executable: /bin/bash
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml
  when:
    - op_mode == "install" or op_mode == "update"
    - ansible_host == setupinfos.k3s.master.registration_host

- name: get template to dir
  template:
    src: "templates/{{ item }}.j2"
    dest: "/tmp/haproxy-ingress-k8s/{{ item }}"
  when:
    - op_mode == "install" or op_mode == "update"
    - ansible_host == setupinfos.k3s.master.registration_host
  with_items:
    - haproxy-ingress-controller.yml
    - haproxy-ingress-cm.yml
    - haproxy-ingress-class.yml

- name: label ingress nodes
  shell: "kubectl label node {{ item }} ingress-haproxy=active"
  args:
    executable: /bin/bash
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml
  when:
    - op_mode == "install" or op_mode == "update"
    - ansible_host == setupinfos.k3s.master.registration_host
  with_items:
    - "{{ setupinfos.k3s.haproxy_ingress_nodes }}"

- name: create ingress controller
  shell: "kubectl -n ingress-haproxy apply -f /tmp/haproxy-ingress-k8s/{{ item }}"
  args:
    executable: /bin/bash
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml
  when:
    - op_mode == "install" or op_mode == "update"
    - ansible_host == setupinfos.k3s.master.registration_host
  with_items:
    - haproxy-ingress-controller.yml
    - haproxy-ingress-cm.yml
    - haproxy-ingress-class.yml

- name: cleanup tmp dir for values and resources
  file:
    path: /tmp/haproxy-ingress-k8s
    state: absent
  when:
    - op_mode == "install" or op_mode == "update"
    - ansible_host == setupinfos.k3s.master.registration_host
