HTTP/1.1 429 Too Many Requests
Cache-Control: no-cache
Connection: close
Content-Type: text/html

<!DOCTYPE html>
<html>
   <body style="background-color:#1b1b1b;">
      <h1 align=center style="color:orange;">429 Too Many Requests</h1>
      <p align=center style="color:white;">You reached your individual limit!</p>
   </body>
</html>
