<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
  background-size: contain;
  background-position: center;
}
p, h1 {
  color: lightblue;
  text-align: center;
  size: 48px;
  background-color: black;
  vertical-align: middle;
}
table {
  color: white;
  text-align: left;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-collapse: collapse;
}
td {
  padding: 20px;
  background-color: rgba(30, 30, 30, 0.7);
}
th {
  padding: 20px;
  background-color: rgba(50, 50, 50, 0.8);
}
a:link {
  color: lightblue;
}
#section1 {
  height: 90vh;
  align-content: center; /* vertical centering*/
}
</style>
<title>m0rpheus</title>
</head>
<body>
  <div class="section" id="section1">
    <h1>[ LINKS & STATES ]</h1>
    <table>
      <tr>
        <th>Site</th>
        <th>Info</th>
        <th>State</th>
      </tr>
{% for DOMAIN in setupinfos.haproxy_domains %}
      <tr>
        <td><a href="https://{{DOMAIN.domain}}.{{setupinfos.external_domain}}/">{{DOMAIN.domain}}.{{setupinfos.external_domain}}</a></td>
        <td>{{DOMAIN.info}}</td>
{% if DOMAIN.state == "down" %}
        <td style="color:red">{{DOMAIN.state}}</td>
{% else %}
        <td style="color:green">{{DOMAIN.state}}</td>
{% endif %}
      </tr>
{% endfor %}
    </table>
  </div>
</body>
</html>
