<!DOCTYPE html>
<html>
<head>
<style>
body {
  <!--background-image: url('maintenance.jpg');-->
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
  background-size: contain;
  background-position: center;
}
p, h1 {
  color: red;
  text-align: center;
  size: 48px;
  background-color: black;
  vertical-align: middle;
}
#section1 {
  height: 90vh;
  align-content: center; /* vertical centering*/
}
</style>
<title>m0rpheus</title>
</head>
<body>
  <div class="section" id="section1">
    <h1>[ MAINTENANCE NEW ] Content will be back soon ...</h1>
  </div>
</body>
</html>
