- name: get the cilium archive
  unarchive:
    src: "https://github.com/cilium/cilium-cli/releases/download/{{ setupinfos.k3s.cilium_version }}/cilium-linux-{{ setupinfos.k3s.cilium_arch }}.tar.gz"
    dest: /tmp
    remote_src: yes
    mode: '0755'
    owner: root
    group: root
  when: op_mode == "install"

- name: copy cilium binary to PATH
  copy:
    src: /tmp/cilium
    dest: /usr/local/bin/cilium
    remote_src: yes
    mode: '0755'
    owner: root
    group: root
  when: op_mode == "install"

- name: cleanup tmp
  file:
    path: /tmp/cilium
    state: absent
  when: op_mode == "install"

- name: uninstall cilium
  file:
    src: /usr/local/bin/cilium
    state: absent
  when: op_mode == "uninstall"

- name: create tmp dir for values and resources
  file:
    path: /tmp/cilium-k8s
    state: directory
  when:
    - op_mode == "install-ingress"
    - ansible_host == setupinfos.k3s.master.registration_host

- name: get templates to dir
  template:
    src: "templates/{{ item }}.j2"
    dest: "/tmp/cilium-k8s/{{ item }}"
  when:
    - op_mode == "install-ingress"
    - ansible_host == setupinfos.k3s.master.registration_host
  with_items:
    - cilium-ip-pool.yml
    - cilium-l2-announcement.yml
    - values.yml

- name: upgrade cilium with ingress settings
  shell: cilium upgrade -f /tmp/cilium-k8s/values.yml
  args:
    executable: /bin/bash
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml
  when:
    - op_mode == "install-ingress"
    - ansible_host == setupinfos.k3s.master.registration_host

- name: cleanup tmp dir for values and resources
  file:
    path: /tmp/cilium-k8s
    state: absent
  when:
    - op_mode == "install-ingress"
    - ansible_host == setupinfos.k3s.master.registration_host

- name: deploy cilium to k8s
  shell: "cilium install --set k8sServiceHost={{ setupinfos.lb_vip }} --set k8sServicePort=6443 --set kubeProxyReplacement=true"
  args:
    executable: /bin/bash
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml
  when:
    - op_mode == "deploy"
    - ansible_host == setupinfos.k3s.master.registration_host
