apiVersion: v1
kind: Secret
metadata:
  name: csi-cephfs-secret
stringData:
  userID: k8scephfs
  userKey: {{ vault.ceph.client_k8scephfs_key }} 
  adminID: k8scephfs
  adminKey: {{ vault.ceph.client_k8scephfs_key }} 
