- name: create ceph resource dir
  file:
    path: "{{ setupinfos.k3s.resource_dir }}/ceph-csi"
    state: directory

- name: get templates to dir
  template:
    src: "templates/{{ item }}.j2"
    dest: "{{ setupinfos.k3s.resource_dir }}/ceph-csi/{{ item }}"
    mode: '0600'
    group: root
    owner: root
  with_items:
    - ceph-conf.yml
    - csi-cephfsplugin-provisioner.yml
    - csi-cephfsplugin.yml
    - csi-configmap.yml
    - csi-driver.yml
    - csi-rbac.yml
    - csi-secret.yml
    - csi-storageclass.yml

- name: create ceph-mgmt namespace
  shell: if [ "$(kubectl get ns ceph-mgmt --ignore-not-found | wc -l)" == "0" ]; then kubectl create ns ceph-mgmt; fi
  args:
    executable: /bin/bash
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml
  when:
    - op_mode == "deploy"
    - ansible_host == setupinfos.k3s.master.registration_host
